```gitignore
# Python
__pycache__/
*.pyc
*.pyo
.venv/
.env
*.log

# VSCode / IDE
.vscode/
.idea/

# macOS
.DS_Store

# Streamlit cache
.streamlit/

# Игнорируем файлы конфигурации
config.json
/папка_с_конфигами/Users/yuliyasalodkina/FinSign-BI
*.logconfig.json
*.env
